<div>
    <h1>Edit your Profile</h1>
    <hr>
    <div class="col-md-4">
        <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
                <div class="form-group" [ngClass]="{'error':!validateFirstName() }">
                    <label for ="firstName">First Name</label>
                    <em *ngIf="!validateFirstName()">Required</em>
                    <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="first Name..">

                </div>

                <div class="form-group" [ngClass]="{'error': !validateLastName()}">
                    <label for ="lastName">Last Name</label>
                    <em *ngIf="firstName.error.required">Required</em>
                    <em *ngIf="firstName.error.pattern">Should start with a digit</em>
                    <input id="lastName" type="text" formControlName="lastName" class="form-control" placeholder="last Name..">
                </div>
                <button type ="submit" class="btn btn-primary" >Save</button>
        <button type="button" class="btn btn-default"(click) ="cancel()">Cancel</button>
        
            </form>
    </div>
</div>